html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#input_tag {
    border-right: 4px solid white;
    width: auto;
    padding-right: 2px;
    animation: blink .75s step-end infinite;
}



#command_prompt {
    font-family: 'Manjari', sans-serif;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 1.49vw;
    overflow: auto;
    transition: height 2s;
    scroll-behavior: smooth;
    float: left;
}

#command_prompt p {
    margin-left: 5px;
    clear: both;
    float: left;
    margin-top: 4px;
    margin-bottom: 4px;
}

#command_prompt a {
    margin-left: 5px;
    clear: both;
    float: left;
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
}

#GUI {
    display: none;
    width: 100%;
    height: 0%;
    background-color: cornflowerblue;
    transition: height 2s;
}

@keyframes blink {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

#command_prompt_label {
    margin: 0;
    background-color: white;
    font-family: 'Manjari', sans-serif;
    display: none;
}

#project_viewer {
    width: 0%;
    height: 0%;
    background-color: lightgrey;
    transition: width 2s;
    float: right;
}

iframe {
    border: none;
    padding: 0;
    margin: 0;
}

#toggleconsole_btn {
    display: none;
    opacity: 0;
    bottom: calc(20%);
    right: 0;
    border: none;
    padding: 5px;
    outline: none;
    transition: opacity 3s, bottom 2s;
    position: absolute;
    background-color: white;
    color: red;
    font-family: 'Manjari', sans-serif;
    font-size: 1.2vw;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
}
