html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../Images/Chicago.jpg);
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

#container_box {
    position: absolute;
    width: 700px;
    height: 570px;
    margin: auto;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    opacity: 0.85;
}

#title_bar {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #3a95d6;
    margin-left: 25px;
    padding-left: 10px;
    border-bottom-left-radius: 10px;
}

#main_text {
    width: 90%;
    height: 80%;
    overflow: auto;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

